<div class="container" id="aboutUs">
    <div class="row">

        <div class="col-sm-4">
            <div class="aboutItem">
                <div class="image"><img src="../../img/image1.jpg" alt=""></div>
                <h2>{{::ctrl.data.title}}</h2>
                <p>{{::ctrl.data.text}}</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="aboutItem">
                <div class="image"><img src="../../img/image2.jpg" alt=""></div>
                <h2>{{::ctrl.data.title}}</h2>
                <p>{{::ctrl.data.text}}</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="aboutItem">
                <div class="image"><img src="../../img/image3.jpg" alt=""></div>
                <h2>{{::ctrl.data.title}}</h2>
                <p>{{::ctrl.data.text}}</p>
            </div>
        </div>

    </div>
</div>