<div class="container" id="skiCams">
    <div class="row">
        <div class="col-md-6">
            <div class="camItem">
                <div class="spinner" ng-show="ctrl.progress">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <h2 class="text-center">{{ctrl.cams.andalo.name}}</h2>
                <div ng-repeat="item in ctrl.cams.andalo.cams track by $index"
                     style="background-image: url('{{item.url}}')"
                     class="camImage">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="camItem">
                <div class="spinner" ng-show="ctrl.progress">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <h2 class="text-center">{{ctrl.cams.monteBondone.name}}</h2>
                <div ng-repeat="item in ctrl.cams.monteBondone.cams track by $index"
                     style="background-image: url('{{item.url}}')"
                     class="camImage">

                </div>
            </div>
        </div>
    </div>
</div>
