<div class="container" id="contact">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <input
                            type="text"
                            class="form-control"
                            id="exampleInputName1"
                            placeholder="Name"
                            ng-required="true">
                </div>
                <div class="form-group">
                    <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            placeholder="Email"
                            ng-required="true">
                </div>

                <div class="form-group">
                    <textarea
                            class="form-control"
                            id="exampleInputText"
                            placeholder="Message"></textarea>
                </div>

                <button type="submit" class="btn btn-primary pull-right">SEND</button>
            </form>
        </div>
    </div>
</div>