@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);
/*
*   colors
*/

$white: #ffffff;
$grey: rgb(248, 248, 248);
$footer: #282828;
$marginTopDefault: 40px;


/*
*   global
*/
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $grey;
}

header{
  min-height: 162px;
  background-color: $white;
  position: relative;
  border-bottom: 1px solid $grey;
  nav{
      bottom: 0;
      position: absolute;
      margin-bottom: 0;
    ul{
      float: left;
      margin: 0;
      li{
        float: left;
        a{
          &.active, &:hover{
            background-color: transparent;
            border-bottom: 1px solid orange;
          }
        }
      }
    }
  }

  .logo{
    background-image: url('./img/pgsLogo.jpg');
    background-repeat: no-repeat;
    width: 177px;
    height: 66px;
    display: block;
    @media only screen and (max-width : 767px) {
      margin: 0 auto;
    }
  }
}

footer {
  width:100%;
  height:60px;
  background: $footer;
  padding: 10px;
  color: $white;
  clear: both;
  position: relative;
  z-index: 10;
}

/*
*   aboutUs
*/
#aboutUs{
  .aboutItem{
    margin-top: $marginTopDefault;
    min-height: 400px;
    background-color: $white;
    box-shadow: 0 0 4px #dddddd;
    &:hover{
      box-shadow: 0 0 4px #666666;
    }
    h2, p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .image{
    img{
      width: 100%;
    }
  }
}

/*
*   skiCams
*/
#skiCams{
  .camItem{
    margin-top: $marginTopDefault;
    background-color: $white;
    box-shadow: 0 0 4px #dddddd;
    padding: 10px;
    margin-bottom: 50px;
  }
  .camImage{
    height: 300px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*
*   contact
*/
#contact{
  input, textarea{
    border: 0;
  }
  textarea {
    resize: none;
  }
  form{
    margin-top: $marginTopDefault;
    padding: 10%;
    background-color: $white;
    box-shadow: 0 0 4px #dddddd;
  }
}

/*
*   spinner
*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}